@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Architects+Daughter&family=Caveat&display=swap');


.main-container {
  padding : 0px !important;
}

.header-section {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #9acdee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2980B9, #6DD5FA, #9acdee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.brand-logo {
  color : white;
  font-family : 'Architects Daughter', cursive;
  font-size: 25px;
}

.log {
  cursor: pointer;
}

.profile-pic {
  cursor: pointer;
  height : 7%;
  width : 7%;
  transition: 0.4s ease-in-out;
}

.profile-pic:hover {
  transform: scale(0.8);
}

.card-p {
  font-family : 'Architects Daughter', cursive;
}

.chat-room {
  background-image: url("./assets/images/chat_background.jpg");
  width : 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 62vh;
  
}

.chat-contact {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: "Caveat", cursive;
}

.chat-image {
  width : 20%;
  height : 20%
}

.chat-room-header {
  background-color: rgb(255, 251, 220);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: "Caveat", cursive;
  width : 100%;

  
}

.send-message {
  cursor: pointer;
}

.message-box {
  width : 80% !important
}

.chat-message{
  background-color: white;
  font-size: 12px;
  max-width : 200px;
  max-height : 600px;
  letter-spacing: 3px;
 
}
.receiver {
  background-color: rgb(167, 243, 167);
  font-size: 12px;
  max-width : 200px;
  max-height : 600px;
  letter-spacing: 3px;
  
}

